.top-dv{
    background-color: green;
    height: 64px;
}

.section1{
    background-color: coral;
    height: 300px;
    width: 300px;
    float: left;
}
.section2{
    background-color: aquamarine;
    height: 300px;
    width: 300px;
    float: left;
}
.section3{
    background-color: blueviolet;
    height: 300px;
    width: 300px;
    float: left;
}